<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Consulta de Mantenimientos</title>
    <!-- Fuente Roboto -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <!-- CSS personalizado -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/registros.css') }}">
</head>
<body>

    <div class="container">
        <button id="btn-back" type="button" onclick="window.history.back()">← Volver</button>
      <div class="top-bar">
      <button id="btn-refresh" type="button" onclick="location.reload()">Actualizar🔂</button>
  </div>

        <h2>Consulta de Registros de Mantenimiento</h2>

        <!-- Contenedor de tarjetas dinámicas -->
        <div class="registros-container">

            {% for registro in registros %}
            <div class="registro-card">

          <!-- Cabecera con código y botones alineados -->
          <div class="registro-cabecera">
              <p><strong>Código STB:</strong> {{ registro.codigo_stb }}</p>
              <div class="acciones-crud">
                  <a href="{{ url_for('form.formulario') }}?id={{ registro.id_pc }}" class="btn-CRUD">✏️</a>
                  <button onclick="eliminarMantenimiento({{ registro.id_pc }})" class="btn-CRUD">🗑️</button>
              </div>
          </div>


                <p><strong>Equipo:</strong> {{ registro.nombre_equipo }}</p>
                <p><strong>IP:</strong> {{ registro.ip }}</p>
                <p><strong>SO:</strong> {{ registro.sistema_operativo }}</p>
                <p><strong>Procesador:</strong> {{ registro.procesador }}</p>
                <p><strong>RAM:</strong> {{ registro.ram }}</p>
                <p><strong>Office:</strong> {{ registro.office }}</p>
                <p><strong>Reporte:</strong> {{ registro.reporte }}</p>
                <p><strong>Acción Correctiva:</strong> {{ registro.accion_correctiva }}</p>
            </div>
            {% endfor %}

        </div>
    </div>
    <script src="{{ url_for('static', filename='js/datos_pc.js') }}"></script>
</body>
</html>

