<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Menú Responsive</title>
  <link rel="stylesheet" href="static/css/stylemenu.css" />
</head>
<body>

  <div class="container">

    <!-- Iconos pequeños arriba a la derecha -->
    <div class="top-icons">
      <img src="static/Imagenes/LLAMADA.png" alt="Icono 1" id="call-button" />
      <img src="static/Imagenes/wsp.png" alt="Icono 2" id="whatsapp-button" />
    </div>

    <!-- Texto pegado debajo de los iconos -->
    <div class="top-label">
      <p>CONTACTANOS</p>
    </div>

    <!-- Botones rectangulares uno debajo del otro -->
    <div class="center-buttons">
      <a href="{{ url_for('form.formulario') }}" class="icon-box">
        <img src="static/Imagenes/NUEVO.png" alt="Botón 1" />
      </a>
      <div class="icon-box">
        <img src="static/Imagenes/CONSULTA.png" alt="Botón 2" />
      </div>
      <div class="icon-box">
        <img src="static/Imagenes/REPORTE.png" alt="Botón 3" />
      </div>
      <div class="icon-box">
        <img src="static/Imagenes/PROXIMAMENTE.png" alt="Botón 4" />
      </div>
    </div>

  </div>

  <!-- Imagen fija abajo -->
  <div class="content-box-fixed">
    <img src="static/Imagenes/editado_logo.png" alt="Menú Principal" />
  </div>

  <script src="static/js/menu.js"></script>
</body>
</html>
